body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pokemon-detail-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pokemon-detail-img-center {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.pokemon-search {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pokemon-search-detail {
	margin-right: 10px;
}

.pokemon-sort {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pokemon-sort-detail {
	margin-right: 10px;
}

.pokemon-name:hover {
	color: yellow;
	cursor: pointer;
}

.pokemon-more:hover {
	color: yellow;
	cursor: pointer;
}

.pokedex {
	margin-bottom: 10px;
}
